<div class="quiz-container">
    <h2>Comment te sens-tu aujourd’hui ?</h2>
  
    <label>Nom / Email :</label>
    <input [(ngModel)]="etudiant" type="text" placeholder="ex: jean.dupont@univ.fr" />
  
    <h3>Émotion</h3>
    <div class="choices">
      <button (click)="emotion='Anxieux'">😰 Anxieux</button>
      <button (click)="emotion='Heureux'">😄 Heureux</button>
      <button (click)="emotion='Fatigué'">😴 Fatigué</button>
      <button (click)="emotion='Stressé'">😫 Stressé</button>
      <button (click)="emotion='Déprimé'">😞 Déprimé</button>
    </div>
  
    <h3>Sommeil</h3>
    <div class="choices">
      <button (click)="sommeil='Bien dormi'">🌙 Bien dormi</button>
      <button (click)="sommeil='Insomnie'">😵 Insomnie</button>
      <button (click)="sommeil='Réveil fréquent'">⏰ Réveil fréquent</button>
    </div>
  
    <h3>Concentration</h3>
    <div class="choices">
      <button (click)="concentration='Très concentré'">🧠 Très concentré</button>
      <button (click)="concentration='Distrait'">🤯 Distrait</button>
      <button (click)="concentration='Pas motivé'">😐 Pas motivé</button>
    </div>
  
    <button class="submit-btn" (click)="envoyer()">✅ Envoyer</button>
   
  </div>
  